<%- include('partials/header'); -%>

<body>

<div class="update-blog content">
    <!-- <%- console.log(blog.id,"******************8") -%> -->

   <form> 
    <!-- action="/blogs/<%=blog.id%>" -->
    <!-- <form method="POST" action="/blogs/<%=blog.id%>?_method=PUT" class="post-form"> -->
      <label for="title">email</label>
      <input type="text" id="title" name="email"required value="<%=user.email%>">
      <label for="crt-p">current password</label>
      <input type="text" id="snippet" name="crt-p" value="<%=user.password%>" required>
      

      <!-- <input type="text" hidden="true" id="snippet" name="ownerId" value=<%=user.id%> required >
      <input type="text" hidden="true" id="snippet" name="ownerEmail" value=<%=user.email%> required > -->
      <!-- <%-console.log(user.id)-%> -->
      
      <button class="frm-btn">Update</button>
    </form>
  </div>

  <script>
    const form = document.querySelector('form');
    

    form.addEventListener('submit', async(e) => {
    const email=form.email.value
    const crtp = form.crt-p.value
  
      const res= fetch('/blogs/<%= blog._id%>', {
         method: 'PUT',
         body: JSON.stringify({email,crtp}),
         headers: {'Content-Type':'application/json'}
        })
        .then(result => result.json())
        .then(data => {
            if(data.success)
            window.location.href = "/blogs/blogsall"
         })
        //window.location.href = "/blogs/<%= blog._id%>"
 });
 

  </script>
  
  </body>
  <%- include('partials/footer'); -%>