<%- include('partials/header'); -%>

<body>
    <div class="about content">
      <h2><%=user.name%></h2>
        <p><%=user.email%></p>
        
        <p><%=user.details%></p>
      
      </div>
</body>


<%- include('partials/footer'); -%>